h1, h2 {text-align: center;}

body {background-color: lightgrey;}

caption {
    font-size: 1.5rem;
}

table, th, td {
    border: black solid 5px;
    border-collapse: collapse;
    
}

table {
    margin: auto;
    width: 90%;
    max-width: 675px;
}

th {
    background-color: black;
    color: white;
    padding: 1rem;
    text-transform: uppercase;
    
}

td {
    padding: 12px;
    font-size: 1.2rem;
    font-weight: bold;
}


td:first-child,td:nth-child(2) { text-align: center;}

/* Linhas (even) */
tr:nth-child(even) {background-color: #6495ED;}
tr:nth-child(even):hover {
    background-color: #4F5BD6;
    cursor: pointer;
}

/* Linhas (odd) */
tr:nth-child(odd) {background-color: #E6E6FA;}
tr:nth-child(odd):hover {
    background-color: #808080;
    cursor: pointer;
}

div {
    font-size: 1.2rem;
}

.center {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100px;
  }
  
.center a {
    text-align: center;
  }