/* Regras Gerais */
* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

/* Pagina Index */

/* Mensagem de sucesso */
.mensagem-fabricante {
    color: #ffffff;
    background: #12295885;
    border-radius: 12px;
    width: 80%;
    padding: 2rem;
    margin: auto;
}

.deletar:hover {background-color: #e72626;}

.index p b:hover {
    color: #2a55b8;
    cursor: pointer;
}
h1 {
    font-size: 3rem;
    color: #294175;
}

h2 {
    font-size: 2.3rem;
    margin-bottom: 20px;
}

h3 {
    font-size: 1.3rem;
}


h1, h2 {text-align: center;}

body {
    background-color: #b9bfce;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;

}

p {font-size: 1.8rem;}

.text-center {text-align: center;}

ul {
    list-style: none;
    text-align: center;
    
}

ul li {
    padding: 20px;
    font-size: 3rem;
}

ul li a {
    text-decoration: none;
    color: #000;
    display: inline-block;
    font-size: 2rem;
    transition: font-size 0.3s ease;
}

ul li a:hover {
    background-color: #294175;
    border-radius: 8px;
    font-size: 2.2rem;
    color: #ffffff;
}

.container-index {
    background-color: #dddee0;
    max-width: 1000px;
    margin: 80px auto;
    padding: 10px;
    border-radius: 8px;
    box-shadow: #000 1px 1px 11px;
}

.titulo-index {
    margin: 80px auto;
}

/* Pagina de Fabricantes */

p a {
    text-decoration: none;
    color: #000;
    display: inline-block;
    font-size: 1.6rem;
    transition: font-size 0.3s ease;
}

p a:hover {
    background-color: #4b75cf;
    border-radius: 8px;
    font-size: 1.8rem;
    color: #ffffff;
}



caption {
    font-size: 1.5rem;
    margin-bottom: 10px;
    text-transform: uppercase;
}

table, th, td {
    border: #080808 solid 4px;
    border-collapse: collapse;
}

table {
    margin: 20px auto;
    width: 100%;
    max-width: 960px;
    box-shadow: #000 1px 1px 11px;
}

.id-table:hover {
    color: #f330f3;
}

th {
    background-color: #1f3569;
    text-shadow: #000 0 0 5px;
    color: white;
    padding: 1.05rem;
    text-transform: uppercase;
}

td {
    padding: 1rem;
    font-size: 1.4rem;
    text-align: center;
}


td:hover {
    text-transform: uppercase;
    transition: font-size 0s ease;
    font-size: 1.5rem;
    cursor: pointer;
    color: #0044ff;
    border: 3px solid black;
    font-weight: 600;
}

tr:nth-child(even) {
    background-color: #b7c4e4;
    font-size: 1rem;
    /* transform: scale(1.1) */
}

tr:nth-child(odd) {
    background-color: 
    #fff;
    font-size: 1rem;
    transition: font-size 0.3s ease;
}



.editar, .excluir {
    color: #0c262e;
    text-decoration: none;
    padding: 0.8rem;
}

.editar:hover {
    color: darkorange;
}

.excluir:hover{
    color: red;
}

.center {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100px;
    text-align: center;
}

/* Página de adicionar/atualizar fabricantes */
div .center-inserir {
    display: flex;
    justify-content: center;
    align-items: center;

}

form {
    width: 80%;
    margin: 30px auto;
    padding: 1.25rem;
    background-color: #dddee0;
    box-shadow: #000 1px 1px 11px;
    border-radius: 8px;
}

label {
    font-size: 1.3rem;
    color: #000;
}

input:not([type=checkbox]), select, textarea {
    padding: 8px;
    width: 98%;
    height: 40px;
    font-size: 1.1rem;

}

button {
    border: none;
    padding: 10px;
    font-size: 1.2rem;
    background-color: #1f3569;
    color: #e4e4e4;
    font-weight: bold;
    border-radius: 8px;
    width: 98%;
    margin: 10px auto;

}
button:hover, button:focus {
    cursor: pointer;
    background-color: #2550c7;
    color: white;
}

/* Pagina produtos */
.produtos {
    display: flex;
    justify-content: space-evenly;
    flex-wrap: wrap;
    gap: 16px;
    width: 80%;
    margin: auto;
}


.produto {
    background-color: #7283a8;
    padding: 1.2rem;
    width: 450px;
    box-shadow: #000 1px 1px 4px;
    border-radius: 8px;
    /* text-align: center; */
}

.produto p b {
    color: #000;
}

.produto p a{
    color: #1f3569;
}
.produto p a:hover {
    color: #fff;
    background-color: #1f3569;
}
.produto p:hover {
    text-transform: uppercase;
    color: #fff;
    font-size: 1.3rem;
    cursor: pointer;
}

.produto p {
    color: #fff;
    font-weight: 700;
    font-size: 1.2rem;
    transition: font-size 0.3s ease;
}
