/* Pagina Index */
h1 {
    font-size: 2.5rem;
}

h2 {
    font-size: 2.3rem;
}

h1, h2 {text-align: center;}

body {background-color: #b9bfce}

.text-center {text-align: center;}

ul {
    list-style: none;
    text-align: center;
    
}

ul li {
    padding: 20px;
    font-size: 3rem;
}

ul li a {
    text-decoration: none;
    color: #000;
    display: inline-block;
    font-size: 1.7rem;
    transition: font-size 0.3s ease;
}

ul li a:hover {
    background-color: #2e89a5;
    border-radius: 8px;
    font-size: 2rem;
    color: #cce7f8;
}

.container-index {
    background-color: #dddee0;
    width: 760px;
    margin: 36px auto;
    padding: 10px;
    border-radius: 8px;
    box-shadow: #000 1px 1px 11px;
}


/* Pagina de Fabricantes */

p a {
    text-decoration: none;
    color: #000;
    display: inline-block;
    font-size: 1.7rem;
    transition: font-size 0.3s ease;
}

p a:hover {
    background-color: #2e89a5;
    border-radius: 8px;
    font-size: 2rem;
    color: #cce7f8;
}


caption {
    font-size: 1.2rem;
    margin-bottom: 13px;
    text-transform: uppercase;
    text-shadow: #fff 0 0 1.8px;
}

table, th, td {
    border: black solid 1px;
    border-collapse: collapse;
    
}

table {
    margin: auto;
    width: 100%;
    max-width: 800px;
}

th {
    background-color: #0c262e;
    text-shadow: #000 0 0 5px;
    color: white;
    padding: 1.05rem;
    text-transform: uppercase;
}

td {
    padding: 12px;
    font-size: 1.2rem;
    text-align: center;
}

tr:nth-child(even) {
    background-color: #9AD7EA;
}

tr:nth-child(even):hover {
    background-color: #4098B3;
    cursor: pointer;
}

/* Linhas (odd) */
tr:nth-child(odd) {
    background-color: 
    #fff;
    
}
tr:nth-child(odd):hover {
    background-color: #cdd1e0;
    cursor: pointer;
}

div {
    font-size: 1.2rem;
}

.center {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100px;
  }
  
.center a {
    text-align: center;
  }
